@import "tailwindcss";

@layer base {
    body {
        background-color: #0f172a;
        color: white;
        font-family: ui-sans-serif, system-ui, sans-serif;
        -webkit-font-smoothing: antialiased;
        background-image: radial-gradient(circle at 50% 0%, #1e293b 0%, #0f172a 100%);
        min-height: 100vh;
    }
}